/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */


header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: chocolate;
  padding: 0 30px;
}

.main{
  height: calc(100vh - 80px);
  display: flex;
}

.main .sidebar{
  width: 20%;
  background: #1f3c5c;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.login {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  padding: 20px;
  flex: 1;
}

.login input{
  width: 100%;
  padding: 10px;
}
.login button{
  width: 200px;
}

